<?xml version="1.0" encoding="utf-8"?>
    <plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.6/engine/Shopware/Components/Plugin/schema/plugin.xsd">
        <label lang="nl">Belco voor Shopware</label>
        <label lang="en">Belco for Shopware</label>

        <version>4.0.3</version>
        <copyright>(c) By Belco B.V.</copyright>
        <license>MIT</license>
        <link>https://belco.io</link>
        <author>Belco B.V.</author>
        <compatibility minVersion="6.0.0"/>
        <changelog version="4.0.0">
            <changes lang="nl">Update voor 6.0.0 uitgevoegd</changes>
        </changelog>

        <changelog version="3.0.0">
            <changes lang="nl">Update voor 5.6.0 uitgevoegd</changes>
        </changelog>

        <changelog version="2.0.0">
            <changes lang="nl">Update voor 5.3.0 uitgevoegd</changes>
        </changelog>

        <changelog version="1.0.0">
            <changes lang="nl">Eerste release</changes>
        </changelog>
    </plugin>
