<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="shop">
            <name>shopId</name>
            <label lang="nl">Shop Id</label>
            <label lang="en">Shop Id</label>
            <value></value>
            <description lang="nl">Je kunt je Shop Id en Secret terug vinden in Belco > instellingen > api keys.</description>
            <description lang="en">You can find your Shop Id and Secret in Belco > settings > api keys.</description>
        </element>
        <element required="true" type="text" scope="shop">
            <name>apiSecret</name>
            <label lang="nl">Api Secret</label>
            <label lang="en">Api Secret</label>
            <value></value>
            <description lang="nl"></description>
            <description lang="en"></description>
        </element>
    </elements>
</config>
